main{
  display: grid;
  grid-template-rows: auto auto 70% auto;
  row-gap: 10%;
}

#pesquisa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo{
  width: 20%;
  margin-bottom: 1%;
}

#search{
  width: 25%;
  font-size: calc(.5em + .7vw);
  color: var(--cor-tercearia);
  border: none;
  background-color: var(--cor-secundaria);
}

#aulas{
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  row-gap: 10%;
  column-gap: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.video{
  background-color: var(--cor-secundaria);
  padding-top: 5%;
  font-size: calc(.2em + 1.5vw);
  color: var(--cor-tercearia);
}

.p{
  width: 20vw;
}